
# [**IMPORTANT**]
# Delete all comments in this file, 
# as they will cause a parsing error at compile time.


# Follow this structure in order to provide you own env vars values. 


{ 
    #  the json web token key
    "JWT_TOKEN_NAME":"jwt"
}